body {
    background-color: black;
}
header {

    .my-container1 {
        nav {
            a {
                span:nth-child(1) {
                    color: red;
                }
            }
            
            form {
                button {
                    img {
                        width: 20px;
                    }
                }
            }
        }

        

        .my-container2 {
            width: 30rem;
            min-height: 400px;
            padding: 20px 0px;
            

            img {
                width: 100% !important;
            }
        }

        
       
    }
   
}

@media (max-width: 580px) {
    .my-container2 {
        width: 100% !important;
    }
}